@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
    /* Primary */
    --Moderateviolet: hsl(263, 55%, 52%);
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --VeryDarkBlackishBlue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    /* Neutral */
    --LightGray: hsl(0, 0%, 81%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
}

::-webkit-scrollbar {
    width: .5em;

}

::-webkit-scrollbar-track {
    margin-block: 5px;
    background: hsla(180, 1%, 32%, 0.26);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 19%, 0.42);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(49, 49, 49, 0.655);
}


* {
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: var(--LightGrayishBlue);
}

.container {
    display: grid;
    min-height: 60vh;
    width: 80vw;
    margin-bottom: 35px;
    gap: 1.5rem;
    user-select: none;
}

.content {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 20px rgba(21, 22, 22, 0.185);
    cursor: pointer;
    transition: transform 150ms ease-in-out, box-shadow 150ms ease-in;
}

.content:hover {
    transform: translateY(.2rem) scale(1.01);
    box-shadow: 5px 5px 20px rgba(21, 22, 22, 0.270);
}

/*.firstcard {
    grid-column-start: 1;
    grid-column-end: 3;
}
.fourthcard {
    grid-column-start: 2;
    grid-column-end: 4;
}*/



.content .head {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 40px;
}

.content .head div p {
    font-size: 13px;
    opacity: 50%;
}


.content .foot p {
    opacity: 70%;
}

.content .head img {
    height: 30px;
    border-radius: 50%;
}

.content .head div {
    height: 30px;
}

.content .head div>* {
    margin: 0;
}


.container .content.quotation {
    background-image: url(/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-size: 110px;
    background-position: top right 15%;
}

.content .foot p:nth-child(1) {
    font-size: 18px;
    font-weight: 600;
    opacity: 1;
}

.bck-clr-Moderatviolet {
    background-color: var(--Moderateviolet);
}

.bck-clr-VeryDarkGrayishBlue {
    background-color: var(--VeryDarkGrayishBlue);
}

.bck-clr-White {
    background-color: var(--White);
}

.bck-clr-VeryDarkBlackishBlue {
    background-color: var(--VeryDarkBlackishBlue);
}

.clr--white {
    color: var(--White);
}

.clr--darkbleu {
    color: var(--VeryDarkBlackishBlue);
}


@media (min-width: 40em) {

    .grid-col-span {
        grid-column: span 2;
    }

    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .content:nth-child(5) {
        grid-column-start: 2;
        grid-row: 2 / span 2;
    }
}

@media (min-width: 60em) {

    .grid-col-span {
        grid-column: span 2;
    }

    .container {
        grid-template-columns: repeat(4, 1fr);
    }

    .content:nth-child(5) {
        grid-column-start: 4;
        grid-row: 1 / span 2;
        /*grid-row-start: 1;
        grid-row-end: 3;*/
    }
}


.attribution {
    font-size: 11px;
    width: 100%;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}